.MainPage {
    display: flex;
    height: 100vh;
    position: relative;
    top: 2rem;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.left-h {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
}

.the-best-ad{
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 30px;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.the-best-ad>span{
    z-index: 2;
    font-weight: bold;
    color: white;
}

.the-best-ad>div{
    position: absolute;
    background-color: #35ae2a;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}

.Title-Text {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1.2rem;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-overflow: inherit;
    text-align: left;
}

.Title-Text>div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.Title-Text>div:nth-of-type(2) {
    /* font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%; */
    text-shadow: 1px 0.5px black;
}

.stroke-text{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white
}

.figures {
    gap: 2rem;
    display: flex;
}

.figures>div{
    display: flex;
    flex-direction: column;
}

.figures>div>span:nth-of-type(1){
    color: white;
    font-size: 2rem;
}

.figures>div>span:nth-of-type(2){
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
}

.right-h>.view-cart{
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: black;
}

.all-product-img{
    position: absolute;
    height: 30rem;
    width: 45rem;
    right: 0rem;
    top: 8rem;
    filter: drop-shadow(10px 10px 20px orange)
}

.right-h {
    flex: 1;
    position: relative;
    background-color: #35ae2a;
}

.arrows{
    margin-left: 11rem;
    margin-bottom: 2rem;
}

.gallery{
    display: flex;
    flex: 1 1;
    background-color: rgb(61, 61, 61);
    height: 30rem;
    width: 30rem;
    /* border-radius: 50%; */
    margin-top: -15rem;
    margin-left: 1rem;
}

.gallery>img{
    height: 25rem;
    width: 40rem;
    position: relative;
    top: 2rem;
    right: 3rem;
    z-index: 1;
}

.Best-Innovation-Typrewriter{
    /* width: 45rem; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0em; /* Adjust as needed */
    animation: 
        typing 2.4s steps(40, end),
        blink-caret .2s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: greenyellow; }
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:  768px) {
    .MainPage{
        flex-direction: column;
    }

    .the-best-ad{
        top: 2rem;
        margin-top: 0;
        font-size: small;
        align-self: center;
        transform: scale(0.8);
    }

    .Title-Text{
        font-size: xx-large;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .Title-Text>div:nth-of-type(3) {
        font-size: small;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 200;
    }

    .figures>div>span:nth-of-type(1){
        font-size: large;
    }

    .figures>div>span:nth-of-type(2){
        font-size: small;
    }

    .right-h{
        position: relative;
        background: none
    }

    .all-product-img {
        position: relative;
        top: 3rem;
        right: 2.9rem;
        width: 25rem;
        height: 15rem;
    }

    .Best-Innovation-Typrewriter{
        width: 100rem;
        font-size: x-large;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 0; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 0em; /* Adjust as needed */
        padding: 0 0.2em 0 0.2em;
        animation: 
            typing 2.4s steps(40, end),
            blink-caret .2s step-end infinite;
    }
}