.Testimonials{
    display: flex;
    position: relative;
    left: 0;
    top: 0rem;
    gap: 1rem;
    padding: 0 2rem 3rem;
}

.left-t{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white
}

.left-t>:nth-child(1){
    color: #35ae2a;
    font-weight: bold;
    font-size: 1.5rem;
}

.left-t>:nth-child(2),
.left-t>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}

.left-t>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.right-t{
    flex:1;
    position: relative;
}

.right-t>img{
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right:8rem;
    top:2rem;
}

.right-t>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid #35ae2a;
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
}

.right-t>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
    top: 4rem;
    right: 7rem;
    background: #35ae2a;
}

.arrows {
    display: flex;
    gap: 1rem;
    position: relative;
    top: 10rem;
    /* bottom: 1rem; */
    right: 10rem;
}

.arrows>img{
    width: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .Testimonials{
        display: flex;
        position: relative;
        left: 0;
        top: -5rem;
        gap: 1rem;
        padding: 0 2rem 10rem;
        flex-direction: column;
    }

    .left-t{
        position: relative;
        display: flex;
        flex: 1 1;
        gap: 2rem;
        flex-direction: column;
        text-transform: uppercase;
        color: white;
    }

    .right-t{
        display: flex;
    }

    .right-t>img{
        top: 2rem;
        left: -0.5rem;
        right: 12rem;
        width: 16rem;
        height: 16rem;
    }

    .arrows>img{
        position: relative;
        width: 2rem;
        height: 2rem;
        top: 12rem;
        left: 80%
    }

    .right-t>:nth-child(1){
        position: absolute;
        width: 16rem;
        height: 16rem;
        border: 2px solid #35ae2a;
        background-color: transparent;
        right: 13rem;
        top: 0.9rem;
        left: -1.2rem;
    }

    .right-t>:nth-child(2){
        position: absolute;
        width: 16rem;
        height: 16rem;
        top: 3rem;
        right: 11rem;
        background: #35ae2a;
        left: 0.1rem;
    }

    .user-review1{
        font-size: small;
    }

    .user-review2{
        font-size: medium;
    }
}