.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  mix-blend-mode: overlay;
  background-color: rgb(85, 85, 85);
  gap: 10rem;
}

.AppLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(85, 85, 85);
}

.AppLoadingContainer{
  height: 12rem;
  width: 12rem;
}

@media screen and (max-width: 768px) {
  .App{
    gap: 2rem
  }
}