.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  mix-blend-mode: overlay;
  background-color: rgb(85, 85, 85);
  gap: 10rem;
}

.AppLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(85, 85, 85);
}

.AppLoadingContainer{
  height: 15rem;
  width: 15rem;
}